---
layout: layouts/home.njk
tags:
    - nav
navtitle: 🏠 Home
---
<div id="info">
    <p class="font-extrabold text-5xl">{{ personal.name }} 👱🏻</p>
    <p class="text-2xl">
        {{ personal.excerpt }}<br>
    </p>
</div>
<div class="mt-10">
    <p class="font-extrabold text-4xl">📰 Latest Blogs</p>

    {% set postslist = collections.blog | tail(10) %}
    {% include "components/postslist.njk" %}
</div>
