<div class="w-full md:w-4/5 bg-blue-100">
    <div class="flex flex-wrap ml-6 mr-6">
        <div class="w-full md:w-4/5 bg-blue-100">
            <div class="container bg-blue-100 pt-8 px-6">
               {{ content | safe }}
            </div>
        </div>

        {% include "components/right-sidebar.njk" %}
    </div>
</div>
