---
layout: layouts/home.njk
tags:
  - nav
navtitle: 📜 Blog
permalink: /blogs/
---

<p class="font-extrabold text-4xl">📖 Blogs</p>

{% set postslist = collections.blog | reverse %}
{% include "components/postslist.njk" %}
<div class="w-4/5">
{% include "components/profile.njk" %}
</div>
