---
layout: layouts/home.njk
tags:
  - nav
navtitle: 📖 Readme
permalink: /about/
---
<div>
    <p class="font-extrabold text-4xl">👨🏼‍💻 About {{ personal.name}}</p>
</div>
<div class="mt-10 text-xl flex">
    <div class="md:w-4/5">
        <div class="md:flex md:flex-row-reverse">
            <div class="md:flex-1 float-right">
                <div class="w-56 md:w-auto">
                    <img src="/assets/img/profpic.png""/>
                </div>
            </div>
            <div class="md:flex-1 mt-6 md:mt-0">
                <p class="text-justify md:text-left">
                Hi! I'm Mervin Villaceran a Software Developer who is currently living in Cebu, Philippines.
                I build web applications and sometimes mobile apps. Started writing programs since 2013 when 
                I went to college. From then on, I am enjoying solving problems.
                <br><br>
                I graduated on April 2016 at <a href="https://www.cit.edu/v6/" target="_blank"><i class="border-b-2 border-pink-500">Cebu Institute of Technology - University</i></a> with a degree in Bachelor
                of Science in Information Technology with Honors. I started working as a software developer in 
                <a href="http://alliance.com.ph/" target="_blank"><i class="border-b-2 border-pink-500">Alliance Software Inc.</i></a> for more than 2 years and I am currently working in <a href="https://www.hotwork.ag" target="_blank"><i class="border-b-2 border-pink-500">Hotwork International Inc.</i></a> as a Web and Mobile Developer to create internal applications for business needs.
                </p>
            </div>
        </div>
        <br>
        <div class="md:w-4/5 md:flex mb-10">
            <div class="md:flex-1">
                <span class="font-bold">Intermediate Skills</span>
                <br>
                <div class="ml-5">
                {% for item in personal.skills.intermediate %}
                - {{ item }} <br>
                {% endfor %}
                </div>
            </div>
            <div class="mt-10 md:mt-0 md:flex-1">
                <span class="font-bold">Beginner Skills</span>
                <br>
                <div class="ml-5">
                {% for item in personal.skills.beginner %}
                - {{ item }} <br>
                {% endfor %}
                </div>
            </div>
        </div>
        <div id="work">
            <div class="text-2xl font-bold">Work Experience</div>
            {% for item in personal.experiences %}
            <div class="flex mb-6 mt-3">
                <div class="flex 1 mr-10">
                    <p>{{ item.date }}</p>
                </div>
                <div class="flex 1">
                    <p>
                        <a href="{{ item.company_url }}" target="_blank" class="border-b-2 border-pink-500"><span class="font-bold">{{ item.company_name }}</span></a><br>
                        <span class="text-sm text-gray-700">Position: {{ item.position }}</span>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
