---
layout: layouts/home.njk
tags:
  - nav
navtitle: 📖 Readme
permalink: /about/
---
<div>
    <p class="font-extrabold text-2xl md:text-4xl">👨🏼‍💻 About {{ metadata.author.name}}</p>
</div>
<div class="mt-10 text-xl flex">
    <div class="md:w-4/5">
        <div class="md:flex">
            <div class="md:flex-1">
                <div class="">
                    <img src="/assets/img/profpic.png"/>
                </div>
            </div>
            <div class="md:flex-1 mt-6 md:mt-0">
                <p class="text-justify">
                Hi! I'm Mervin Villaceran a Software Developer who is currently living in Cebu, Philippines.
                I build web applications and sometimes mobile apps. Started writing programs since 2013 when 
                I went to college. From then on, I am enjoying solving problems.
                <br><br>
                I graduated on April 2016 at <a href="https://www.cit.edu/v6/" target="_blank"><i class="border-b-2 border-pink-500">Cebu Institute of Technology - University</i></a> with a degree in Bachelor
                of Science in Information Technology with Honors. I started working as a software developer in 
                <a href="http://alliance.com.ph/" target="_blank"><i class="border-b-2 border-pink-500">Alliance Software Inc.</i></a> for more than 2 years and I am currently working in <a href="https://www.hotwork.ag" target="_blank"><i class="border-b-2 border-pink-500">Hotwork International Inc.</i></a> as a Web and Mobile Developer to create internal applications for business needs.
                </p>
            </div>
        </div>
        <br>
        <div class="md:flex mb-10">
            <div class="md:flex-1">
                <span class="font-bold">Intermediate Skills</span>
                <br>
                <div class="ml-5">
                - PHP <span class="text-sm text-gray-700">(CodeIgniter <= v4)</span><br>
                - Javascript <span class="text-sm text-gray-700">(Vanilla, JQuery)</span><br>
                - HTML <br>
                - CSS <span class="text-sm text-gray-700">(< CSS3, Bootstrap)</span><br>
                - MySQL <br>
                - MSSQL <br>
                - SAP Business One <br>
                - Apache <br>
                - Git
                </div>
            </div>
            <div class="mt-10 md:mt-0 md:flex-1">
                <span class="font-bold">Beginner Skills</span>
                <br>
                <div class="ml-5">
                - PHP <span class="text-sm text-gray-700">(Symphony, Slim)</span><br>
                - Javascript <span class="text-sm text-gray-700">(Vue)</span><br>
                - Node <br>
                - CSS <span class="text-sm text-gray-700">(CSS3, Bulma, Tailwind)</span><br>
                - PostgreSQL <br>
                </div>
            </div>
        </div>
        <div id="work" class="mb-20">
            <div class="text-2xl font-bold">Work Experience</div>
            <div class="flex">
                <div class="flex 1 mr-10">
                    <p>April - October 2015</p>
                </div>
                <div class="flex 1">
                    <p>
                        <a href="http://mytsoftdevsolutions.com/" target="_blank" class="border-b-2 border-pink-500"><span class="font-bold">MYT SoftDev Solutions</span></a><br>
                        <span class="text-sm text-gray-700">Position: Web Developer Intern</span>
                    </p>
                </div>
            </div>
            <div class="flex mt-8">
                <div class="flex 1 mr-10">
                    <p>Apr 2016 - Dec 2018</p>
                </div>
                <div class="flex 1">
                    <p>
                        <a href="http://alliance.com.ph/" target="_blank" class="border-b-2 border-pink-500"><span class="font-bold">Alliance Software Inc.</span></a><br>
                        <span class="text-sm text-gray-700">Position: Associate Technical Specialist</span>
                    </p>
                </div>
            </div>
            <div class="flex mt-8">
                <div class="flex 1 mr-10">
                    <p>Dec 2018 - Present &nbsp;&nbsp;</p>
                </div>
                <div class="flex 1">
                    <p>
                        <a href="https://www.hotwork.ag" target="_blank" class="border-b-2 border-pink-500"><span class="font-bold">Hotwork International Inc.</span></a><br>
                        <span class="text-sm text-gray-700">Position: Web and Mobile Developer</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
