<!DOCTYPE html>
<html lang="en" class="mode-dark">
<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mervin Villaceran - mervin.dev</title>

    <link rel="icon" href="/assets/img/profile.jpeg">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/prism-dracula.css">
    <link rel="stylesheet" href="/assets/css/markdown.css">
</head>
<body class="bg-blue-100 font-sans leading-normal tracking-normal">
    <div class="flex md:flex-row-reverse flex-wrap">
        <!--Main Content-->
        {% include "components/main.njk" %}
        <!-- https://github.com/tailwindtoolbox/Sidebar-Bottom -->
        <!--Sidebar--> 
        {% include "components/left-sidebar.njk" %}
    </div>

    <script type="text/javascript" src="/assets/js/theme.js"></script>
</body>
</html>
