<!DOCTYPE html>
<html lang="en" class="mode-dark">
<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mervin Villaceran - mervin.dev</title>

    <link rel="icon" href="/assets/img/profile.jpeg">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/prism-dracula.css">
</head>
<body class="bg-blue-100 font-sans leading-normal tracking-normal">
    <div class="flex md:flex-row-reverse flex-wrap">
        
        <!--Main Content-->
        <div class="w-full md:w-4/5 bg-blue-100">
            <div class="flex flex-wrap ml-6 mr-6">
                <div class="w-full md:w-4/5 bg-blue-100">
                    <div class="container bg-blue-100 pt-8 px-6">
                       {{ content | safe }}
                    </div>
                </div>
                <div class="w-full md:w-1/5 bg-blue-100">
                    <div class="container bg-blue-100 pt-16 px-6">
                        <!-- <button class="toggle-theme" role="button" id="toggle-theme">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
                        </button> -->
                    </div>
                </div>
            </div>
        </div>
         
        <!-- https://github.com/tailwindtoolbox/Sidebar-Bottom -->
        <!--Sidebar--> 
        <div class="w-full md:w-1/5 bg-gray-900 md:bg-gray-900 px-2 text-center fixed bottom-0 md:pt-8 md:top-0 md:left-0 h-16 md:h-screen md:border-r-4 md:border-gray-600 dark:bg-white">
            <div class="md:relative mx-auto lg:float-right lg:px-6">
                <ul class="list-reset flex flex-row md:flex-col text-center md:text-left">
                    <li class="float-right mb-10 hidden md:block">
                        <img class="w-32 h-32 rounded-full border-2 border-gray-500 mr-1 float-right" src="/assets/img/profile.jpeg" alt="Avatar of Mervin Villaceran">
                    </li>
                    {% for nav in collections.nav %}
                    <li class="mr-3 flex-1">
                        <a href="{{ nav.url | url }}" class="block py-1 md:py-3 pl-1 align-middle no-underline border-b-2 md:float-right {% if nav.url == page.url %} text-white hover:text-white border-pink-600 {% else %} text-gray-800 hover:text-pink-500 border-gray-800 md:border-gray-900 hover:border-pink-500 {% endif %}">
                            <i class="fas fa-link pr-0 md:pr-2"></i>
                            <span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">{{ nav.data.navtitle }}</span>
                            <i class="fas fa-link pr-0 md:pr-3"></i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/assets/js/theme.js"></script>
</body>
</html>
